{% extends 'base.html' %}

{% block title %}Liste des Factures{% endblock %}

{% block content %}
    <h1>Liste des Factures</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>achat_id</th>
                <th>date</th>
                <th>total</th>
                <th>achat</th>
            </tr>
        </thead>
        <tbody>
            {% for facture in factures %}
                <tr>
                    <td>{{ facture.achat_id }}</td>
                    <td>{{ facture.date }}</td>
                    <td>{{ facture.total }}</td>
                    <td>{{ facture.achat }}</td>

                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'ajout_facture' %}" class="btn btn-primary">Ajouter une Facture</a>
{% endblock %}
