{% extends 'base.html' %}

{% block title %}Ajouter au panier{% endblock %}

{% block content %}
    <h1>Ajouter au panier</h1>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="client">Client</label>
            <select class="form-control" id="client" name="client" required>
                {% for clt in clients %}
                    <option value="{{ clt.id }}">{{ clt.nom }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="produit">Produit</label>
            <select class="form-control" id="produit" name="produit" required>
                {% for produit in produits %}
                    <option value="{{ produit.id }}">{{ produit.nom }} - {{ produit.prix }} Francs</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="quantite">Quantité</label>
            <input type="number" class="form-control" id="quantite" name="quantite" min="1" required>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Ajouter au panier</button>
    </form>
{% endblock %}
