{% extends 'base.html' %}

{% block title %}AJOUTER UN Client {% endblock %}

{% block content %}
    <div class="container">
        <h1>AJOUTER UN CLIENT</h1>
        <form method="post">
            {% csrf_token %}

         
            <div class="mb-3">
                <label for="client" class="form-label">client </label>
                <input type="number" class="form-control" id="client" name="client" required>
            
            </div>
          
            <button type="submit" class="btn btn-success">Ajouter</button>
            <a href="{% url 'liste_achats' %}" class="btn btn-secondary">Retour</a>
        </form>
    </div>
{% endblock %}

