{% extends 'base.html' %}

{% block title %}Liste des Clients{% endblock %}

{% block content %}
    <h1>Liste des Clients</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>client_id</th>
                <th>nom</th>
                <th>contact</th>
            </tr>
        </thead>
        <tbody>
            {% for client in clients %}
                <tr>
                    <td>{{ client.client_id }}</td>
                    <td>{{ client.nom}}</td>
                    <td>{{client.contact}}</td>
                   
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'ajout_client' %}" class="btn btn-primary">Ajouter un Client</a>
{% endblock %}
