{% extends 'base.html' %}

{% block title %}AJOUTER UNE CATEGORIE{% endblock %}

{% block content %}
    <div class="container">
        <h1>AJOUTER UNE CATEGORIE</h1>
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="nom" class="form-label">Nom de la Catégorie</label>
                <input type="text" class="form-control" id="nom" name="nom" required>
            </div>
            <button type="submit" class="btn btn-success">Ajouter</button>
            <a href="{% url 'liste_categories' %}" class="btn btn-secondary">Retour</a>
        </form>
    </div>
{% endblock %}
